<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>

    <!-- ejs setup -->
    <!-- <h1>home</h1>
    <p>hello <%= name %> </p> -->

    <form method="post"  action="/contact">
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" name="email" placeholder="xyz@gmail.com">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>