h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px;
  }

form {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  

  input:focus,
  button:focus {
    outline: none;
  }